{% for vrf in vrfs -%}
vrf instance overlay{{ vrf }}
ip routing vrf overlay{{ vrf }}
{% endfor %}
!
router bgp {{ bgp.as_number }}
   {% for vrf in vrfs -%}
   {% for vlan in vlans -%}
   {% if vlan in vrfs[vrf].vlans -%}
   vlan {{ vlan }}
      rd {{ bgp.router_id}}:{{ vrfs[vrf].vlans[vlan].vni }}
      route-target export {{ base_asn }}:{{ vrfs[vrf].vlans[vlan].vni }}
      route-target import {{ base_asn }}:{{ vrfs[vrf].vlans[vlan].vni }}
      redistribute learned
   !
   {% endif -%}
   {% endfor -%}
   vrf overlay{{ vrf }}
      router-id {{ bgp.router_id }}
      rd {{ bgp.router_id}}:{{ vrf }}
      route-target export evpn {{ base_asn }}:{{ vrf }}
      route-target import evpn {{ base_asn }}:{{ vrf }}
      redistribute connected route-map allow-overlay-nets
   {% endfor -%}
!
{% for vrf in vrfs -%}
vrf definition overlay{{ vrf }}
{% endfor -%}
