feature interface-vlan
!
{% for vrf in vrfs -%}
vlan {{ vrf }}
  vn-segment {{ vrf }}
!
interface Vlan{{ vrf }}
  no shutdown
  vrf member overlay{{ vrf }}
  ip forward
!
{% endfor -%}
{% for vlan in vlans -%}
evpn
  {% for vrf in vrfs -%}
  {% for vlan in vlans -%}
  {% if vlan in vrfs[vrf].vlans -%}
  vni {{ vrfs[vrf].vlans[vlan].vni }} l2
    rd {{ bgp.router_id}}:{{ vrfs[vrf].vlans[vlan].vni }}
    route-target import {{ base_asn }}:{{ vrfs[vrf].vlans[vlan].vni }}
    route-target export {{ base_asn }}:{{ vrfs[vrf].vlans[vlan].vni }}
  {% endif -%}
  {% endfor -%}
  {% endfor -%}
{% endfor -%}
!
{% for vrf in vrfs -%}
vrf context overlay{{ vrf }}
  vni {{ vrf }}
  rd {{ bgp.router_id}}:{{ vrf }}
  address-family ipv4 unicast
    route-target import {{ base_asn }}:{{ vrf }}
    route-target export {{ base_asn }}:{{ vrf }}
    route-target import {{ base_asn }}:{{ vrf }} evpn
    route-target export {{ base_asn }}:{{ vrf }} evpn
{% endfor -%}
